.container {
	height: 100vh;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	display: flex;
}

.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.content {
	display: flex;
}

.controls {
	flex: 1;
	border: 1px solid #ccc;
}

.canvas {
	border: 1px solid #ccc;
	overflow: auto;
	flex: 2;
}

.image-container {
	background-image: url('./Images/description.png');
	background-size: cover;
	margin: 0 auto;
	width: 471px;
	height: 587px;
}

.table {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.table-spacing {
	height: 30px;
}

.td {
	width: 70px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	font-size: 22px;
}

.tr {
	height: 50px;
}

.btn.dxleft {
	background-image: url('./Images/dxleft.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.dxright {
	background-image: url('./Images/dxright.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.dybuttom {
	background-image: url('./Images/dybuttom.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.dytop {
	background-image: url('./Images/dytop.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.dzleft {
	background-image: url('./Images/dzleft.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.dzright {
	background-image: url('./Images/dzright.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.sx {
	background-image: url('./Images/sx.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

.btn.sy {
	background-image: url('./Images/sy.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

.btn.sz {
	background-image: url('./Images/sz.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

.btn.axL {
	background-image: url('./Images/axL.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.axR {
	background-image: url('./Images/axR.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.ayL {
	background-image: url('./Images/ayL.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.ayR {
	background-image: url('./Images/ayR.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.azL {
	background-image: url('./Images/azL.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.btn.azR {
	background-image: url('./Images/azR.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}